.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    width: 150px;
}