.table {
    border: 1px solid black;
    margin: 0 auto;
    width: 800px;
    justify-content: center;
}

.title {
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    padding: 10px;
}

.link {
    text-align: center;
}

.link:nth-child(even) {
    background-color: rgb(194, 189, 189);
}

.link:nth-child(odd) {
    background-color: white;
}

.result {
    border: 1px solid black;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}